## Question 4: Use Webscraping to Extract GME Revenue Data

Display the last five rows of the gme_revenue dataframe using the tail function. Upload a screenshot of the results.

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
# Step 1: Send a GET request to the webpage
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
response = requests.get(url)

In [5]:
# Step 2: Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

In [6]:
# Step 3: Locate the GME revenue table
table = soup.find('table')

In [13]:
# Step 4: Extract the data from the table
data = []
rows = table.find_all('tr')
for row in rows[1:]:  # Skip the header row
    cols = row.find_all('td')
    date = cols[0].text.strip()
    revenue = cols[1].text.strip().replace('$', '').replace(',', '')
    data.append({'Date': date, 'Revenue': revenue})

In [14]:
# Step 5: Store the data in a Pandas DataFrame
gme_revenue = pd.DataFrame(data)

In [15]:
# Step 6 Print the last 5 rows of the DataFrame
gme_revenue.tail()

    Date Revenue
11  2009    8806
12  2008    7094
13  2007    5319
14  2006    3092
15  2005    1843